/* mikael-lb 11/02/2022 */
/* this is a small project to work a few with transformations */
body, main {
    width:100%;
    height:100vh;
    margin:0 auto;
    background-color: black;
    color:white;
}

.container{
    width:100%;
    height:100%;
    margin:0 auto;
}

.row{
    display: flex;
    width:100%;
    height:100%;
}

.anim2-special-date {
    margin: auto;
    perspective: 800px;
    perspective-origin: center;
    transform-style: preserve-3d;
    animation: special-date-2 40s linear 0s infinite normal;
}

.special-date {
    display:flex;
    width:800px;
    
    font-family:"delaney";
    font-size: 100px;
    text-align: center;

    perspective: 800px;
    perspective-origin: center;
    transform-style: preserve-3d;
    animation: special-date 4s linear 0s infinite normal;
}

#num-1 {
    width: 100px;
    z-index: 1;
    animation: num-1 4s linear 0s infinite normal;
}

#num-2 {
    width: 100px;
    z-index: 2;
    animation: num-2 4s linear 0s infinite normal;
}

#num-3 {
    width: 100px;
    z-index: 3;
    animation: num-3 4s linear 0s infinite normal;
}

#num-4 {
    width: 100px;
    z-index: 4;
    animation: num-4 4s linear 0s infinite normal;
}

#num-5 {
    width: 100px;
    z-index: 5;
    animation: num-5 4s linear 0s infinite normal;
}

#num-6 {
    width: 100px;
    z-index: 6;
    animation: num-6 4s linear 0s infinite normal;
}

#num-7 {
    width: 100px;
    z-index: 7;
    animation: num-7 4s linear 0s infinite normal;
}

#num-8 {
    width: 100px;
    z-index: 8;
    animation: num-8 4s linear 0s infinite normal;
}

p.footer-text {
    font-size:2em;
    color:black;
}

.footer-text {
    position:fixed;
    bottom:0px;
    font-family:Arial;
    text-align: center;
    background:linear-gradient(to bottom,black,white,grey,white 70%,grey,black);
    background-size: 100% 200%;
    width:100%;
    padding:0.25em;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime {
    0%   { background-position: 0% 0%;}
    75%  { color:white;}
    100% { background-position: 0% 200%;}
}

@keyframes num-1 {
    0% {transform: rotateY(0deg); color:#d4aa00ff;}
    25% {transform: rotateY(-90deg); color:#fcfcfcff;}
    50% {transform: rotateY(-180deg); color:#d4aa00ff;}
    75% {transform: rotateY(-270deg); color:#54112aff;}
    100% {transform: rotateY(-360deg); color:#d4aa00ff;}
}

@keyframes num-2 {
    0% {transform: rotateY(0deg); color:#c89f24ff;}
    25% {transform: rotateY(-90deg); color:#e6dee2ff;}
    50% {transform: rotateY(-180deg); color:#c89f24ff;}
    75% {transform: rotateY(-270deg); color:#682d44ff;}
    100% {transform: rotateY(-360deg); color:#c89f24ff;}
}

@keyframes num-3 {
    0% {transform: rotateY(0deg); color:#bc9848ff;}
    25% {transform: rotateY(-90deg); color:#d1c0c7ff;}
    50% {transform: rotateY(-180deg); color:#bc9848ff;}
    75% {transform: rotateY(-270deg); color:#7c4a5dff;}
    100% {transform: rotateY(-360deg); color:#bc9848ff;}
}

@keyframes num-4 {
    0% {transform: rotateY(0deg); color:#b28e6dff;}
    25% {transform: rotateY(-90deg); color:#bba2acff;}
    50% {transform: rotateY(-180deg); color:#b28e6dff;}
    75% {transform: rotateY(-270deg); color:#916878ff;}
    100% {transform: rotateY(-360deg); color:#b28e6dff;}
}

@keyframes num-5 {
    0% {transform: rotateY(0deg); color:#8783adff;}
    25% {transform: rotateY(-90deg); color:#916878ff;}
    50% {transform: rotateY(-180deg); color:#8783adff;}
    75% {transform: rotateY(-270deg); color:#bba2acff;}
    100% {transform: rotateY(-360deg); color:#8783adff;}
}

@keyframes num-6 {
    0% {transform: rotateY(0deg); color:#6882c9ff;}
    25% {transform: rotateY(-90deg); color:#7c4a5dff;}
    50% {transform: rotateY(-180deg); color:#6882c9ff;}
    75% {transform: rotateY(-270deg); color:#d1c0c7ff;}
    100% {transform: rotateY(-360deg); color:#6882c9ff;}
}

@keyframes num-7 {
    0% {transform: rotateY(0deg); color:#4980e3ff;}
    25% {transform: rotateY(-90deg); color:#682d44ff;}
    50% {transform: rotateY(-180deg); color:#4980e3ff;}
    75% {transform: rotateY(-270deg); color:#e6dee2ff;}
    100% {transform: rotateY(-360deg); color:#4980e3ff;}
}

@keyframes num-8 {
    0% {transform: rotateY(0deg); color:#2a7fffff;}
    25% {transform: rotateY(-90deg); color:#54112aff;}
    50% {transform: rotateY(-180deg); color:#2a7fffff;}
    75% {transform: rotateY(-270deg); color:#fcfcfcff;}
    100% {transform: rotateY(-360deg); color:#2a7fffff;}
}

@keyframes special-date {
    0% {transform: rotate3d(0,0,0,0);}
    25% {transform: rotateY(90deg);}
    50% {transform: rotateY(180deg);}
    75% {transform: rotateY(270deg);}
    100% {transform: rotate3d(0,1,0,360deg);}
}

@keyframes special-date-2 {
    0% {transform: rotate3d(0,0,0,0); transform: scale(0.2,0.2);}
    20% {transform: rotateX(-15deg);}
    40% {transform: rotateX(15deg);}
    60% {transform: rotateZ(-30deg);}
    80% {transform: scale(1.6,1.6);}
    100% {transform: rotate3d(0,0,0,0); transform: scale(0.2,0.2);}
}
