/* mikael-lb - palindrome date - 22/02/2022 */
/* this is a small project to work a few with transformations */
/* this file is CSS for header ag only */
header {
    perspective: 800px;
    perspective-origin: center;
    transform-style: preserve-3d;    
    font-family:Arial, "sans serif";
    font-size:2em;
    font-weight:bold;
    margin:0 auto;
}

.header-text {
    position:relative;
    top:0.25em;
    margin:0;
}

.header-text-shared {
    position:absolute;
    width:0.8em;
    padding:0.35em;
    text-align:center;
    background:linear-gradient(to bottom,grey,white,black 50%, grey, lightgrey);
    backface-visibility:hidden;
}

.text-1 {
    left:calc(((100% - (15 * 3%)) / 2) + (0 * 3%));
    border-radius: 0.5em 0 0 0.5em;
}

.text-2 {
    left:calc(((100% - (15 * 3%)) / 2) + (1 * 3%));
}

.text-3 {
    left:calc(((100% - (15 * 3%)) / 2) + (2 * 3%));
}

.text-4 {
    left:calc(((100% - (15 * 3%)) / 2) + (3 * 3%));
}

.text-5 {
    left:calc(((100% - (15 * 3%)) / 2) + (4 * 3%));
}

.text-6 {
    left:calc(((100% - (15 * 3%)) / 2) + (5 * 3%));
}

.text-7 {
    left:calc(((100% - (15 * 3%)) / 2) + (6 * 3%));
}

.text-8 {
    left:calc(((100% - (15 * 3%)) / 2) + (7 * 3%));
}

.text-9 {
    left:calc(((100% - (15 * 3%)) / 2) + (8 * 3%));
}

.text-10 {
    left:calc(((100% - (15 * 3%)) / 2) + (9 * 3%));
}

.text-11 {
    left:calc(((100% - (15 * 3%)) / 2) + (10 * 3%));
}

.text-12 {
    left:calc(((100% - (15 * 3%)) / 2) + (11 * 3%));
}

.text-13 {
    left:calc(((100% - (15 * 3%)) / 2) + (12 * 3%));
}

.text-14 {
    left:calc(((100% - (15 * 3%)) / 2) + (13 * 3%));
}

.text-15 {
    left:calc(((100% - (15 * 3%)) / 2) + (14 * 3%));
    border-radius: 0 0.5em 0.5em 0;
}

.header-text-front {
    animation-name: header-text-front;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index:2;    
}

.anim-text-front-1 {
    animation-delay: 0.00s;
}

.anim-text-front-2 {
    animation-delay: 0.33s;
}

.anim-text-front-3 {
    animation-delay: 0.66s;
}

.anim-text-front-4 {
    animation-delay: 1.00s;
}

.anim-text-front-5 {
    animation-delay: 1.33s;
}

.anim-text-front-6 {
    animation-delay: 1.66s;
}

.anim-text-front-7 {
    animation-delay: 2.00s;
}

.anim-text-front-8 {
    animation-delay: 2.33s;
}

.anim-text-front-9 {
    animation-delay: 2.66s;
}

.anim-text-front-10 {
    animation-delay: 3.00s;
}

.anim-text-front-11 {
    animation-delay: 3.33s;
}

.anim-text-front-12 {
    animation-delay: 3.66s;
}

.anim-text-front-13 {
    animation-delay: 4.00s;
}

.anim-text-front-14 {
    animation-delay: 4.33s;
}

.anim-text-front-15 {
    animation-delay: 4.66s;
}

.header-text-back {
    animation-name: header-text-back;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index:1;
}

.anim-text-back-1 {
    animation-delay: 0.00s;
}

.anim-text-back-2 {
    animation-delay: 0.33s;
}

.anim-text-back-3 {
    animation-delay: 0.66s;
}

.anim-text-back-4 {
    animation-delay: 1.00s;
}

.anim-text-back-5 {
    animation-delay: 1.33s;
}

.anim-text-back-6 {
    animation-delay: 1.66s;
}

.anim-text-back-7 {
    animation-delay: 2.00s;
}

.anim-text-back-8 {
    animation-delay: 2.33s;
}

.anim-text-back-9 {
    animation-delay: 2.66s;
}

.anim-text-back-10 {
    animation-delay: 3.00s;
}

.anim-text-back-11 {
    animation-delay: 3.33s;
}

.anim-text-back-12 {
    animation-delay: 3.66s;
}

.anim-text-back-13 {
    animation-delay: 4.00s;
}

.anim-text-back-14 {
    animation-delay: 4.33s;
}

.anim-text-back-15 {
    animation-delay: 4.66s;
}

@keyframes header-text-front {
    0% {transform: rotateX(0deg);transform-origin:0 50%;}
    20% {transform: rotateX(180deg);transform-origin:0 50%;}
    50% {transform: rotateX(180deg);transform-origin:0 50%;}
    70% {transform: rotateX(360deg);transform-origin:0 50%;}
    100% {transform: rotateX(360deg);transform-origin:0 50%;}
}

@keyframes header-text-back {
    0% {transform: rotateX(180deg);transform-origin:0 50%;}
    20% {transform: rotateX(360deg);transform-origin:0 50%;}
    50% {transform: rotateX(360deg);transform-origin:0 50%;}
    70% {transform: rotateX(540deg);transform-origin:0 50%;}
    100% {transform: rotateX(540deg);transform-origin:0 50%;}
}